<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<jmxConfigurator/>

	<property name="topPath" value="wyx"></property>
	<property name="projectName" value="dataUpload"></property>
	<property name="merge_error" value="merge_error"></property>

	<!-- 按时间滚动的策略 -->
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/${topPath}/${projectName}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/${topPath}/${projectName}.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 按时间滚动的策略 -->
	<appender name="rollingErrorFile"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/${topPath}/${merge_error}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/${topPath}/${merge_error}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- project default level -->
	<logger name="com.zzy" level="debug" />

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO"/>

	<!-- springside modules -->
	<logger name="org.springside.modules" level="INFO" />

	<!-- cxf inbound/outbound logger -->
	<logger name="org.apache.cxf.services" level="INFO" />

	<root level="INFO">
		<appender-ref ref="rollingFile" />
		<appender-ref ref="rollingErrorFile" />
	</root>
</configuration>